#navbar a {
  transition: all 0.1s;
  font-weight: 700;
}

#navbar a.active:not(.logo) {
  background-color: #ff444a48;
  color: #ff444a;
}

#navbar a:hover {
  outline: none;
}

#navbar a:active {
  background-color: transparent;
}
